:root {
  --header-height: 50px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  background-color: #030303;
  color: #fff;
}

header {
  display: flex;
  align-items: center;
  padding-inline: 2rem;
  height: var(--header-height);
  background-color: #333;
}

main {
  display: flex;
  flex-direction: column;
  height: calc(100dvh - var(--header-height));
  overflow: hidden;
}

section {
  padding: 2rem;
}

h1 {
  margin: 0px;
}

h2:is(#track-name) {
  margin: 0px;
}

button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

#playback-toggle {
  text-transform: capitalize;
}

#track-info {
  flex: 1 1 0%;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 2rem;
  height: calc(var(--header-height) + 2rem);
  background-color: #333;
}

@media (max-width: 768px) {
  #volumen-input {
    display: none;
  }
}

@media (max-width: 640px) {
  header,
  section {
    padding: 1rem;
  }

  .controls {
    padding-inline: 1rem;
  }
}
